<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label  class="font-weight-bold" for="bloodGlucose">bloodGlucose:</label>
      <input  type="text"
              class="form-control"
              id="bloodGlucose"
              placeholder="bloodGlucose"
              formControlName="bloodGlucose"/>
    </div>
    <div class="form-group">
      <label  class="font-weight-bold" for="carbIntake">carbIntake:</label>
      <input  type="text"
              class="form-control"
              id="carbIntake"
              placeholder="carbIntake"
              formControlName="carbIntake"/>
    </div>

    
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>