<div class="container mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label  class="font-weight-bold" for="from">from:</label>
        <input  type="text"
                class="form-control"
                id="from"
                placeholder="from"
                formControlName="from"/>
          <span class="text-danger" *ngIf="form.get('from').errors?.required && form.get('from').dirty">*This field is required</span>
          <span class="text-danger" *ngIf="form.get('from').errors?.minlength && form.get('from').dirty">*The minimum length of field is 3 characters</span>
      </div>
      <div class="form-group">
        <label  class="font-weight-bold" for="to">to:</label>
        <input  type="text"
                class="form-control"
                id="from"
                placeholder="to"
                formControlName="to"/>
          <span class="text-danger" *ngIf="form.get('to').errors?.required && form.get('to').dirty">*This field is required</span>
      </div>
  
      <!-- <div class="form-group form-check">
        <input class="form-check-input" formControlName="isExperienced" type="checkbox">
        <label class="form-check-label">I have experience over 2 years </label>
        <span class="text-danger" *ngIf="form.get('isExperienced').errors?.required && form.get('isExperienced').dirty">*This field is required</span>
      </div>
  
      <div class="form-group">
        <label class="font-weight-bold">Angular Preference</label>
        <div class="form-check">
          <input  class="form-check-input"
                  type="radio"
                  formControlName="angular"
                  value="1"
                  id="angularjs">
          <label class="form-check-label" for="angularjs">angularJs</label>
        </div>
  
      <div class="form-group">
        <label class="font-weight-bold">Favourite Language</label>
        <select class="form-control" formControlName="who">
          <option [ngValue]="null">Select</option>
          <option ng-model="who" *ngFor="let prom of who" [ngValue]="prom">
            {{prom}}
          </option>
        </select>
        <span class="text-danger" *ngIf="form.get('who').errors?.required && form.get('favouriteLanguage').dirty">*This field is required</span>
      </div>
  
      <div class="form-group" *ngIf="form.get('favouriteLanguage').value == 'JS'">
        <label class="font-weight-bold">JS Version</label>
        <input formControlName="jsversion" class="form-control" type="text">
        <span class="text-danger" *ngIf="form.get('jsversion').errors?.required && form.get('jsversion').dirty">*This field is required</span>
      </div> -->
      
      <button class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
    </form>
  </div>