<div class="header">
  <a href="" class="logo">
    <img src="../../assets/img/logo.png" height="50px" width="50px" />
    Sacchon</a>
    <div class="topnav" *ngIf="role==='ROLE_PATIENT'">
      <div id="myLinks">
        <a href="">Home</a>
        <a routerLink="patient/{{id}}/data" routerLinkActive="active">My Data</a>
        <a href="consultation?patientId={{id}}">My Consultations</a>
      </div>
    </div>

  <div class="header-right">
    <div *ngIf="!isLogged">
      <button class="btn btn-outline-primary" routerLink="./login"> Login </button>
    </div>
    <div *ngIf="isLogged">
      <button class="btn btn-outline-primary" (click)="logout()"> Logout </button>
    </div>
  </div>
</div>