
<div class=" content">
        <div class="card">
          <div class=" card-header">
            <h4 class=" card-title">Patients Data</h4>
          </div>
            <div class=" table-responsive">
              <table class=" table tablesorter" >
                <thead class=" text-primary">
                  <tr>
                    <th>id</th>
                    <th>hasNotification</th>
                    <th>n</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="patientDataDetail">
                    <td>{{ patientDataDetail.date |  date:'dd-MM-yy' }}</td>
                    <td>{{patientDataDetail.bloodGlucose}}</td>
                    <td>{{patientDataDetail.carbIntake}}</td>
                    <!-- <button type="submit" class="btn btn-primary pull-right" (ngSubmit)="clickAndGo()"><i class="fa fa-plus"></i> Add New Data</button> -->
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
  </div>
