
<div class=" content">
    <div class=" row">
      <div class=" col-lg-6 col-md-12">
        <div class="card">
          <div class=" card-header">
            <h4 class=" card-title">Patient Details</h4>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr class="d-flex">
                    <th class="col-3">Your unique number</th>
                    <th class="col-3">New notification</th>
                    <th class="col-3">Name</th>
                    <th class="col-3">Doctor number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="patientDetail" class="d-flex">
                    <td class="col-3">{{patientDetail.patientId}}</td>
                    <td class="col-3">
                      <p *ngIf="patientDetail.hasNotification">You have a new notification!</p>
                      <p *ngIf="!patientDetail.hasNotification">No new notification!</p>
                    </td>
                    <td class="col-3">{{patientDetail.username}}</td>
                    <td class="col-3">{{patientDetail.doctorId}}</td>
                    <td class="col-3"><button class="btn btn-outline-danger pull-right" (click)="openVerticallyCentered(content)">Delete Account</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete Data</h4>
    </div>
    <div class="modal-body">
      <p>Do you want to delete your data?</p>
    </div>
    <div class="modal-footer">
      <button type="button" aria-label="close" class="btn btn-outline-primary" (click)="modal.close('Close click')">Close</button>
      <button type="submit" class="btn btn-danger" (click)="modal.close('Close click')" routerLink="./delete">Delete</button>
    </div>
  </ng-template>