<div class="container mr-5 mt-5">
    <div class="card" style="width: 18rem;">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Insert a consultation for your patient</h4>
        <form formGroup="form" ngSubmit="onSubmit()">
          <div class="form-group">
            <label  class="font-weight-bold" for="advice">Consult: </label>
            <input  type="textarea"
                    class="form-control"
                    id="advice"
                    placeholder=""
                    formControlName="advice"/>
          </div>
      
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      </article>
    </div>
  </div>