<div class="container mr-5 mt-5">
  <div class="card" style="width: 18rem;">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1">Insert a consultation</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label  class="font-weight-bold" for="advice">Consult: </label>
          <input  type="text"
                  class="form-control"
                  id="advice"
                  placeholder="advice"
                  formControlName="advice"/>
        </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
  </form>
</article>
  </div>
</div>